body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10px 40px;
    margin-top: 30px;
}
.half-width img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    color:#575757;
}
h2{
    color: #707070;
}
p{
    color:#828282;
    margin-bottom: 50px;
}
#order-button{
    text-decoration: none;
    color: #FFFFFF;
    background-image: linear-gradient(#FC964C, #FE4A2F);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;
}
.about-area{
    background-image: url(images/shapes/about.png);
    background-repeat: no-repeat;
    margin: 50px 0px;
}
#about-para{
    padding-right: 102px;
}
.recipie-half-width img{
    width: 50%;
}